.search-container {
    max-width: 300px;
    margin: 40px auto;
    position: relative;
}

#search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px; 
    margin-bottom: 10px;
    border-radius: 8px;
    border: solid #000080;
}

#results {
    list-style-type: none;
    padding: 0;
}

#results li {
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 10);
    margin-bottom: 10px;
    display: flex;
   border-radius: 8px;
   font-size: 19px;
   margin-top: -10px;
}

#results li:hover{
    background:grey;
}

#results a{
    text-decoration: none;
    color: #000080;
    text-shadow: 1px 1px 1px black;
    margin-right: 120px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0 0 0 5px;
    
}

#results img {
    max-width: 15%;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 2px;
    
}

