@import url(buscador.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.contenedor{
    width: 90%;
    margin: auto;
}

header{
    width: 100%;
    background-color: red;
    position: fixed;
    border: 3px solid #000080;
    height: 300px;
    
}

img{
    width: 100%;
    margin-top: 100px;
   
}

h1{
    text-align: center;
    margin-top: 50px;
    color: #000080;
    text-shadow: 3px 3px 3px black;
    font-style: italic;
}

h2{
    margin-top: 10px;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    color: #000080;
    font-style: italic;
}

@media(max-width: 1305px) {
    img{
         margin-top: 200px;    
    }
}
@media(max-width: 800px) {
    img{
         margin-top: 250px;    
    }
}



